*{
    margin: 0;
    padding: 0;
    background-color: hsl(212, 45%, 89%);
    box-sizing: border-box;
}

.QR-code{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 96vh;
}
.card{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    width: 320px;
    /* border: 2px solid black; */
    border-radius: 20px;
    text-align: center;
    background: white;
}
h1{
    background-color: white;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    padding: 10px;
}
p{
    background-color: white;
    border-radius: 20px;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color: hsl(213, 13%, 69%);
    padding: 20px;
}
.card img {
    align-self: center;
    height: 280px;
    width: 280px;
    border-radius: 20px;
}

footer{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: end;
}